node_modules
bower_components
todo.md
objects
refs
*.log
public/lib/CoffeeScript_files

###defaults###

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
