body {
	background-color: gray;
	font-family: sans-serif;
	padding: 10px 60px 10px 60px;
}

#inventory {
/*	float: right;*/
	background-color: pink;
}

#addedIngredientHere {
	/*float: right;*/
	background-color: yellow
}

#recipeMatches {
	background-color: blue;
}

#recipeList {
	background-color: pink;
}

#fridgeForm {
	/*float: left;*/
}

td {
	background-color: white;

}

.can {
	background-color: green;
	color: white;
}
.cant {
	background-color: red;
	color: yellow;
}