<h2>Inventory</h2>


<h3>add inventory</h3>
<form>
  Ingredient: <input type="text" ng-model="ingredient.name" /><br/>
  Type: <input type="text" ng-model="ingredient.type" /><br/>
  Amount: <input type="text" ng-model="ingredient.amount" /><br/>
  How's it measured? <input type="text" ng-model="ingredient.measure" /><br/>
  <button ng-click="update(ingredient)">Add it</button>
</form>
<pre>form = {{ ingredient | json}}</pre>

<h3>Existing inventory</h3>
<pre>master = {{ foods | json}}</pre>

<pre>{{ foods }}</pre>