<h3>EAT ALL THE THINGS</h3>

<h4>recipes</h4>

<div ng-repeat="recipe in menu | filter:true:recipe.haveIngredients" > <h4> You can make: {{recipe.name}} </h4>
<div> Can be made: {{ recipe.haveIngredients }} </div>
  <div ng-repeat="ingredient in recipe.ingredients" > {{ ingredient.name }} </div>
  <div> Here's what to do: {{ recipe.instructions }} </div>
</div>

<h4>your ingredients:</h4>
<div ng-repeat="food in items " > {{food.name}} </div>

<div ng-repeat="recipe in menu | filter:({haveIngredients: 'false'})" > <h4> You cant make: {{recipe.name}} </h4>
<div> Can be made: {{ recipe.haveIngredients }} </div>
  <div ng-repeat="ingredient in recipe.ingredients" > {{ ingredient.name }} </div>
  <div> Here's what to do: {{ recipe.instructions }} </div>
</div>