<h2>Menu</h2>


<h3>add a recipe</h3>
<form  >
  Recipe Name: <input type="text" ng-model="recipe.name" /><br/>
  <p>What do you need to make it?</p><br/>
  <div ng-form="recipe" ng-repeat="ingredient in recipe.ingredients" >
    Ingredient:<input type="text" ng-model="ingredient.type" />
    Amount: <input type="number" ng-model="ingredient.amount" />
    <button ng-click="addItem(ingredient)">+</button>
  </div>
  Instructions? <input type="text" ng-model="recipe.instructions" /><br/>
  <button ng-click="update(recipe)">Add to menu</button>
</form>
<pre>form = {{ recipe | json}}</pre>

<h3>Existing menu</h3>
<pre>master = {{ menu | json}}</pre>

